<div class="system-body">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <br>
    <p-table #tabelaCompras  dataKey="id" [paginator]="true" [rows]="8" [columns]="colunas" [value]="compras" responsiveLayout="stack" [breakpoint]="'800px'">
        <ng-template pTemplate="caption">
            <div class="row justify-content-between">
                <div class="col-12 col-md-3">
                    <button (click)="abreSlideInserir()" pButton type="button" label="Adicionar Compra"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 5rem"></th>
                <th class="text-center" *ngFor="let col of columns" [ngClass]="col.class">
                    {{col.header}}
                </th>
                <th class="text-center">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" dataKey="id" let-rowData let-columns="columns" let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="rowData" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td class="text-center" style="justify-content: center !important;" *ngFor="let col of columns; let i = index" [ngClass]="(i%2== 1)? 'table-row' : ''">
                    <span class="p-column-title" style="font-weight: bold; margin-right: 20px;">{{col.header}}:</span>
                    {{rowData[col.field]}}
                </td>
                <td class="text-center" style="justify-content: space-around !important;">
                    <button (click)="abreSlideEditar(rowData)" style="margin-right: 5px;" pButton type="button"
                        class="p-button-outlined p-button-rounded p-button-warn" icon="pi pi-pencil"></button>
                    <button (click)="abreModalExclusao(rowData)" pButton type="button"
                        class="p-button-outlined p-button-rounded p-button-danger" icon="pi pi-trash"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData>
            <tr>
                <td [attr.colspan]="6">
                    <div style="display: flex; flex-direction: column;" class="p-3">
                        <h3 style="justify-self: center; text-align: center;">Itens da compra</h3>
                        <p-table [value]="rowData.itens" dataKey="id" [columns]="colunasDetalhes">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 5rem"></th>
                                    <th pSortableColumn="nome">Nome<p-sortIcon field="nome"></p-sortIcon></th>
                                    <th pSortableColumn="valor">Valor<p-sortIcon field="valor"></p-sortIcon></th>
                                    <th pSortableColumn="quantidade">Quantidade<p-sortIcon field="quantidade"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-detail>
                                <tr>
                                    <td  class="text-center" [attr.colspan]="2">{{ detail.nome }}</td>
                                    <td  class="text-center" [attr.colspan]="1">{{ detail.valor }}</td>
                                    <td  class="text-center" [attr.colspan]="1">{{ detail.quantidade }}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td class="text-center">Nenhum item inserido.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
          </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="6" class="text-center" *ngIf="isGlobalLoading">
                    <p-progressSpinner></p-progressSpinner>
                </td>
                <td [attr.colspan]="6" class="text-center" *ngIf="!isGlobalLoading">
                    Nenhum dado encontrado
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-sidebar [(visible)]="displaySaveBar" position="right" styleClass="p-sidebar-md">
        <h1 style="font-size: 20pt;">
            Adicionar Compra
        </h1>
        <div class="grid">
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <ng-template pTemplate="footer">
            <div class="grid" style="justify-content: space-around;">
                <button (click)="salvarCompra()" pButton type="button" label="Salvar"
                    class="col-5 p-button-success"></button>
                <button (click)="displaySaveBar = false;" pButton type="button" label="Cancelar"
                    class="col-5 p-button-secondary"></button>
            </div>
        </ng-template>
    </p-sidebar>
</div>

<p-confirmDialog header="Confirmar Exclusão" icon="pi pi-exclamation-triangle"></p-confirmDialog>